.header {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: flex-start;
  margin-top: 12px;
  gap: 20px;
  .menu {
    text-align: center;
    display: flow-root;
  }
  .item-menu {
    width: 150px;
    float: left;
    font-weight: bold;
    height: 50px;
    display: flex;
    align-items: center;
    span {
      display: inline-block;
      cursor: pointer;
    }
  }
  .logo {
    display: inline;
    float: left;
  }
}
.content-menu {
  // width: 900px;
  .item {
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background-color: rgb(255, 240, 249);
    }
  }
}
