.header {
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  .menu {
    text-align: center;
    line-height: 60px;
  }
  .item-menu {
    width: 150px;
    float: left;
    font-weight: bold;
    span {
      height: 50px;
      display: inline-block;
      cursor: pointer;
    }
  }
  .logo {
    display: inline;
    float: left;
  }
}
.content-menu {
  // width: 900px;
  .item {
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background-color: rgb(255, 240, 249);
    }
  }
}
